<div>
    <div class="row">
      <label for="numeroCamiseta">Numero Camiseta</label>
      <input type="text" name="numeroCamiseta" id="numeroCamiseta">
    </div>
    <div class="row">
        <label for="nombreCamiseta">Nombre Camiseta</label>
        <input type="text" name="nombreCamiseta" id="nombreCamiseta">
    </div>
    <div class="row">
        <label for="nombreCompleto">Nombre Completo:</label>
        <input type="text" name="nombreCompleto" id="nombreCompleto">
    </div>
    <div class="row">
        <label for="fecha">Fecha Ingreso:</label>
        <input type="text" name="fecha" id="fecha">
    </div>
    <div class="row">
        <label for="goles">Goles</label>        
        <input type="text" name="goles" id="goles">
    </div>
    <div class="row">
        <label for="valor">Valor:</label>        
        <input type="text" name="valor" id="valor">
    </div>
    <button (click)="ingresarJugador()">Crear Jugador</button>
  </div>