<body>
  <div class="banner">
    <img [src] = "bannerImg" style="width:1250px; height: 200px">
  </div>

  <div class="row background titulo" style ="height: 50px">
    {{Titulo}}
  </div>
  
  <div class="row background subtitulo" style ="height: 50px; margin-top: 0px">
    {{Subtitulo}}
  </div>

  <div class="row background" style="height:400px; margin-top: 0px">
    <img [src] = "img1" class="img-fluid imgcomic">
    <img [src] = "img2" class="img-fluid imgcomic">
    <img [src] = "img3" class="img-fluid imgcomic">
    <img [src] = "img4" class="img-fluid imgcomic">
    <img [src] = "img5" class="img-fluid imgcomic">

  </div>

  <div class="row background" style="padding-left:40%; padding-top: 0px; height: 30px; margin-top: 0px">
    VER MAS <i class="material-icons">arrow_right_alt     </i>
  </div>
    