<div>
  <div class="row">
    <label for="">Nombre Equipo</label>
    <input type="text" name="nombre" id="nombre">
  </div>
  <div class="row">
      <label for="liga">Liga</label>
      <input type="text" name="liga" id="liga">
  </div>
  <div class="row">
      <label for="fecha">Fecha Creacion</label>
      <input type="text" name="fecha" id="fecha">
  </div>
  <div class="row">
      <label for="copas">Copas Internacionales</label>
      <input type="text" name="copas" id="copas">
  </div>
  <div class="row">
      <label for="campeonActual">Campeon Actual</label>
      <input type="checkbox" name="campeonActual" id="campeonActual">
  </div>
  <button (click)="ingresarEquipo()">Crear Equipo</button>
</div>