<div class="contenedor">
        <!-- col-tamanio-valor-->
        <!--tamanio -> sm -md- lg-->
        <!--valor -> 1, 2, 3.......12-->
        <div class="row">
            <div class="col-md-3">
                Titulo
            </div>
            <div class="col-md-6 texto-derecha">
                <div class= "item-menu">Menu</div>
                <div class= "item-menu">Inicio</div>
                <div class= "item-menu">Peliculas</div>
                <div class= "item-menu">Tienda</div>
                <div class= "item-menu">DC</div>
                <div class= "item-menu">Marvel</div>
            </div>
            <div class="col-md-3">
                Login
            </div>
        </div>

    <div class="row">
        <div class="col-md-3">
            LISTAS
        </div>
        <div class="col-md-9">
            CONTENIDO EN
        </div>
    </div>
</div>





<!--
<h1 [class]="clase" > Titulo {{title}} </h1>
 {{ Interpolacion }} 

(click = "mostrar(true)")
(click="mostrar(false)")

<pre>
    {{_carritoService.carritoComprasDetallado | json}}
</pre>

<button (click)="mostrar(true)">Mostrar</button>
<button (click)="mostrar(false)">Ocultar</button>

<div *ngIf="estaMostrando">

    <app-item-galeria 

    *ngFor="let flor of arregloFLoresJs" 
    [nombreItem] = "flor.nombre"
    [textoBoton] = "flor.descripcion"
    [titulo] = "flor.titulo"
    [notas]="flor.notas"
    (cambioChela) = "cambioChela($event)"
    (cambioCerveza) = "cambioCerveza($event)"

    >
    </app-item-galeria>
</div>
-->