/* You can add global styles to this file, and also import other style files */
input.ng-valid.ng-dirty{
    border: green solid 1px
}

label + input.ng-valid.ng-dirty{
    color: green
}

label + input.ng-invalid.ng-dirty{
    color: red
}

input.ng-invalid.ng-dirty{
    border: red solid 1px
}

input.ng-invalid.ng-touched{
    border: orange solid 1px
}
